@charset "UTF-8";
/* CSS Document */

body {
	background: #000;
	color: #fff;
	font-family: "Arial", Verdana;
}

button {
 	
	width:100%;	
 	text-align:center;	
 	font-size: 26px; 
 	font-size: 5.4vw;
 	margin:0 auto; 
 	margin:0vw auto;
	padding:.5em;
	-webkit-appearance:none;
	-moz-appearance:none;
	text-transform:uppercase;	
 }


.grey{background-color:#cccccc;border:1px solid #dedede;color:#000;}

.green{background-color:#339900;border:1px solid #336600;color:#fff;}

.clearfloat{height:10px;} 